# Saved datasets
data/

# Variants table
input/variants_summary.csv

# Cache files
__pycache*
**/__pycache*
.ipynb_checkpoints*

# HDF5-related scripts and data, which are no longer in use
hdf5*

# Test files
test*
test_config.txt
test/
test_denseweight/
test_nr_vs_r/
test.py

# Scratch work
scr/
transformer_1s/
lstm_1s/
plm/
best_model*
transformer_1_outp*
prep_data*/
model_evalu*ipynb

# Python virtual env
.env/

# Old versions of scripts
./scripts/*deprecated*

