# Saved datasets
data/

# Cache files
__pycache*
**/__pycache*
.ipynb_checkpoints*

# HDF5-related scripts and data, which are no longer in use
hdf5*

# Test files
test_config.txt
test/
test_denseweight/
test_nr_vs_r/
test.py

# Scratch work
scr/
transformer_1s/
lstm_1s/
plm/

# Python virtual env
.env/

